.navbar {
  @apply fixed top-0 w-full h-16 z-50 bg-white p-4 flex justify-between items-center border-b-slate-200 border;

  &__section {
    @apply flex justify-around p-6 gap-6;
  }

  &__item {
    @apply cursor-pointer text-[1.1rem] font-light tracking-tight opacity-60 hover:opacity-100 transition-all duration-300;
  }
}
